.primary{
    background-color: #176B87;
    color: white;
    padding: 18px 26px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    width: 307px;
}
.primary:hover{
    background-color: #04364A;
    color: white;
    padding: 18px 26px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    width: 307px;
}