.clear {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}
.Nav {
    width: 100vw;
    height: 56px;
    background-color: #04364A;
}

.welcomeNote {
    text-align: left;
    color: #04364A;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 0px;
}

table {
    border-collapse: collapse;
    border: 1px solid #04364A;
    width: 1000px;
  
  }
  .name{
    width: 200px;
  }

  td {
    border-collapse: collapse;
    border: 1px solid #04364A;
    padding: 2px 6px;
  
  }
  th {
    border-collapse: collapse;
    border: 1px solid #04364A;
    padding: 2px 6px;
    color: #04364A;
  }