.title{
 color: #64CCC5;
    font-size: 40px;
    font-weight: 400;
}
.highlight{
    font-weight: 600;
}
.headTitle{
    font-weight: 600;
    font-size: 26px;
}

.bgBlue{
    /* background-image: linear-gradient(0deg, #02298A, #0575E6); */
    background-color: #164863;
    height: 100vh;
}

p{
    color: #DAFFFB;
    font-size: 18px;
    font-weight: 300;
}

.loginWrapper{
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
padding-left: 160px;
}

.input{
    border: 1px #d5d5d5 solid;
    border-radius: 30px;
    width: 307px;
    padding: 18px 26px;
    margin-bottom: 20px;
}
.input:hover{
    border: 1px #64CCC5 solid;
    width: 307px;
    padding: 18px 26px;
    margin-bottom: 20px;
}
.input:focus{
    border: 1px #04364A solid;
    width: 307px;
    padding: 18px 26px;
    margin-bottom: 20px;
}

.primary{
    background-color: #176B87;
    color: white;
    padding: 18px 26px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    width: 307px;
}
.primary:hover{
    background-color: #04364A;
    color: white;
    padding: 18px 26px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    width: 307px;
}
.linkButton{
    color: #176B87;
    font-size: 16px;
    border: none;
    background-color: #fff;
    text-decoration: underline;
}
.linkButton:hover{
    color: #04364A;
    text-decoration: underline;
    background-color:none;
    font-size: 16px;
    border: none;
    background-color: #fff;
}.pointer{
    cursor: pointer;
}